src/main/resources/wsdl/hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	targetNamespace="http://antoniocaccamo.me/cxf/prime" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://antoniocaccamo.me/cxf/prime" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorld"
>
	<wsdl:types>
		<schema targetNamespace="http://antoniocaccamo.me/cxf/prime" 
				xmlns="http://www.w3.org/2001/XMLSchema" 
				xmlns:tns="http://antoniocaccamo.me/cxf/prime" 
				elementFormDefault="qualified" 
				attributeFormDefault="unqualified" version="1.0"
		>
			<element name="person">
				<complexType>
					<sequence>
						<element name="firstName" type="xsd:string"/>
						<element name="lastName" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="greeting">
				<complexType>
					<sequence>
						<element name="text" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="sayHelloRequest">
		<wsdl:part name="person" element="tns:person"/>
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part name="greeting" element="tns:greeting"/>
	</wsdl:message>
	<wsdl:portType name="HelloWorldService">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHelloRequest"/>
			<wsdl:output message="tns:sayHelloResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloWorldSoap" type="tns:HelloWorldService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http/"/>
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="http://antoniocaccamo.me/cxf/prime/sayHello" />
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloWorldService">
		<wsdl:port name="HelloWorldService" binding="tns:HelloWorldSoap">
			<soap:address location="http://localhost:9090/services/helloworld"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
